﻿<%@ Page Title="" Language="C#" MasterPageFile="~/LMSMaster.Master" AutoEventWireup="true" CodeBehind="BooksDetails.aspx.cs" Inherits="LibraryManagementSystem.LMSPages.BooksDetails" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <p>Hello This is test</p>
    <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
</asp:Content>
