﻿<%@ Page Title="" Language="C#" MasterPageFile="~/LMSMaster.Master" AutoEventWireup="true" CodeBehind="MembersDetails.aspx.cs" Inherits="LibraryManagementSystem.LMSPages.MembersDetails" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
