﻿<%@ Page Title="" Language="C#" MasterPageFile="~/LMSLoginModules/LMSLoginMaster.Master" AutoEventWireup="true" CodeBehind="Registration.aspx.cs" Inherits="LibraryManagementSystem.LMSLoginModules.Registration" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
